@model Article

@{string actionName = Model == null || Model.Status == ArticleStatus.Draft && Model.ParentArticleID == null ? "Create" : "Edit";}
<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="imageModalLabel">插入图片</h4>
            </div>
            <div class="modal-body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#imageUpload" aria-controls="imageUpload" role="tab" data-toggle="tab">上传图片</a></li>
                    <li role="presentation"><a href="#imageSelect" aria-controls="imageSelect" role="tab" data-toggle="tab" id="imageSelectTab">选择图片</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="imageUpload">
                        <input id="imageFile" name="imageFile" type="file" multiple class="file-loading">
                    </div>
                    <div role="tabpanel" class="tab-pane" id="imageSelect">
                        @{ IEnumerable<Image> images = ViewBag.Images; }
                        <div class="img-select-grid">
                            @foreach (var img in images)
                            {
                                <div role="checkbox" class="img-select-item" data-src="@img.Url" data-alt="@img.Alt" data-title="@img.Discription">
                                    <img src="@img.Url" alt="@img.Alt" title="@img.Discription" />
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@{ int draftId = Model?.Status == ArticleStatus.Draft ? Model.ID : 0; }
<form asp-action=@actionName asp-route-draftId="@draftId" id="article-form" autocomplete="off" data-draft-id="@draftId">
    <div class="form-horizontal">
        <h4>文章</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">链接</label>
            <div class="col-md-10">
                <div class="input-group">
                    <span class="input-group-addon">@(Context.Request.Scheme)://@(Context.Request.Host)/</span>
                    <input asp-for="Slug" class="form-control" />
                </div>
                <span asp-validation-for="Slug" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Categories" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @(await Component.InvokeAsync<CategorySelectorViewComponent>(new
            {
                Name = "CategoryIDs",
                PreselectedIDs = ViewBag.CategoryIDs,
                IsMultiple = true
            }))
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Content" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <div class="btn-group">
                    <a class="btn btn-default" data-toggle="modal" data-target="#imageModal" title="插入图片"><i class="fa fa-picture-o"></i></a>
                </div>
                <div class="row markdown-editor">
                    <div class="col-sm-6">
                        <textarea asp-for="Content" class="form-control markdown-edit" style="height:500px"></textarea>
                    </div>
                    <div class="col-sm-6">
                        <div style="height:500px" class="markdown-preview article-content"></div>
                    </div>
                </div>
                <span class="text-danger" asp-validation-for="Content"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">
                    发布
                </button>
                <button type="button" class="btn btn-default" id="saveDraftButton">
                    保存草稿
                </button>
                <span id="draftStatus">
                    @if (Model?.Status == ArticleStatus.Draft)
                    {
                        @:已加载
                        @Model.EditedTime
                        @:时保存的草稿。
                    }
                </span>
            </div>
        </div>
    </div>
</form>