@model Comment
@inject IMarkdownRenderer renderer

<div class="media">
    <div class="media-left">
        @{ 
            var src = "~/img/HeadPortraitPlaceHolder.svg";
            if (!string.IsNullOrEmpty(Model.Author.AvatarUrl))
            {
                src = Model.Author.AvatarUrl;
            }
        }
        <img class="media-object" src="@src" style="width:64px;height:64px" />
    </div>
    <div class="media-body">
        <h4 class="media-heading">@Html.DisplayFor(c => c.Author.NickName) <small style="display:inline-block">@Html.DisplayFor(model => model.CreatedTime)</small></h4>
        @Html.Raw(renderer.RenderHtml(Model.Content))

        <form asp-action="DeleteComment" asp-route-id="@Model.ID">
            <a href="#commentEditor" class="btn-reply btn btn-default btn-sm" data-reply-id="@Model.ID" data-reply-user="@Model.Author.UserName">回复</a>
            @if (Model.CanDelete)
            {
                <button type="submit" class="btn btn-danger btn-sm" onclick="return deleteConfirm()">删除</button>
            }
        </form>

        @foreach (var c in Model.ChildrenComments)
        {
            @await Html.PartialAsync("_CommentPartial", c);
        }
    </div>
</div>