@model IEnumerable<MyBlog.Models.ArticleViewModel>

@{
    ViewData["Title"] = "文章列表";
}

<h2>@ViewData["Title"]</h2>

@if ((bool)ViewData["CanCreate"])
{
    <p>
        <a asp-action="Create">写新文章</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EditedTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EditedTime)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ID">查看</a>
                    @if (item.CanEdit)
                    {
                        @: |
                        <a asp-action="Edit" asp-route-id="@item.ID">编辑</a>
                        @: |
                        <a asp-action="Delete" asp-route-id="@item.ID">删除</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
